<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Header-->
    <context-param>
        <param-name>header</param-name>
        <param-value>COMELEC</param-value>
    </context-param>
    <!--Header-->
    <!--Footer-->
    <context-param>
        <param-name>footer</param-name>
        <param-value>COPYRIGHT © 2022 · UNIVERSITY OF SANTO TOMAS CENTRAL COMMISSION ON ELECTIONS</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUserName</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby://localhost:1527/</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>UST_IMW_DB</param-value>
    </context-param>
    <!--Footer-->
    <!--Login and Logout [ in progress ]
        Login and Logout-->
    <!--PDF [ in progress ]
        PDF-->
    <!--Exception [ in progress ]
    Authentication_errJsp
    NullVal_errJsp
    ErrorJsp - 404
        Exceptions-->
    <error-page>
        <exception-type>model.RequestException</exception-type>
        <location>/Error</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error_404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Error_404</location>
    </error-page>
    <!--WebPages-->
    <!--   Public   -->
    <servlet>
        <servlet-name>Error</servlet-name>
        <jsp-file>/jspages/error/error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AdminChangePasswordServlet</servlet-name>
        <servlet-class>profile.AdminChangePasswordServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminAddAccountServlet</servlet-name>
        <servlet-class>profile.AdminAddAccountServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminResetPasswordServlet</servlet-name>
        <servlet-class>profile.AdminResetPasswordServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminRemoveAccountServlet</servlet-name>
        <servlet-class>profile.AdminRemoveAccountServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminPDFServlet</servlet-name>
        <servlet-class>profile.AdminPDFServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UnitEditorChangePasswordServlet</servlet-name>
        <servlet-class>profile.UnitEditorChangePasswordServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddAnnouncementServlet</servlet-name>
        <servlet-class>announcement.AddAnnouncementServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddContactServlet</servlet-name>
        <servlet-class>directory.AddContactServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GeneralContactServlet</servlet-name>
        <servlet-class>directory.GeneralContactServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateContactServlet</servlet-name>
        <servlet-class>directory.UpdateContactServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DeleteContactServlet</servlet-name>
        <servlet-class>directory.DeleteContactServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateUSECServlet</servlet-name>
        <servlet-class>usec.UpdateUSECServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateConstitutionServlet</servlet-name>
        <servlet-class>constitution.UpdateConstitutionServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddDocumentServlet</servlet-name>
        <servlet-class>document.AddDocumentServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateDocumentServlet</servlet-name>
        <servlet-class>document.UpdateDocumentServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ArchiveDocumentServlet</servlet-name>
        <servlet-class>document.ArchiveDocumentServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminAddUnitExecutiveOrder</servlet-name>
        <servlet-class>unitexecutiveorder.AdminAddUnitExecutiveOrder</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUnitExecutiveOrder</servlet-name>
        <servlet-class>unitexecutiveorder.AdminUpdateUnitExecutiveOrder</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminArchiveUnitExecutiveOrder</servlet-name>
        <servlet-class>unitexecutiveorder.AdminArchiveUnitExecutiveOrder</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminAddUnitResolutions</servlet-name>
        <servlet-class>unitresolution.AdminAddUnitResolutions</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUnitResolutions</servlet-name>
        <servlet-class>unitresolution.AdminUpdateUnitResolutions</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminArchiveUnitResolutions</servlet-name>
        <servlet-class>unitresolution.AdminArchiveUnitResolutions</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminAddUnitMemorandum</servlet-name>
        <servlet-class>unitmemorandum.AdminAddUnitMemorandum</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUnitMemorandum</servlet-name>
        <servlet-class>unitmemorandum.AdminUpdateUnitMemorandum</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminArchiveUnitMemorandum</servlet-name>
        <servlet-class>unitmemorandum.AdminArchiveUnitMemorandum</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUnitConstitution</servlet-name>
        <servlet-class>unitconstitution.AdminUpdateUnitConstitution</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnnouncementServlet</servlet-name>
        <servlet-class>announcement.UpdateAnnouncementServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ArchiveAnnouncementServlet</servlet-name>
        <servlet-class>announcement.ArchiveAnnouncementServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error_404</servlet-name>
        <jsp-file>/jspages/error/error_404.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error_404</servlet-name>
        <url-pattern>/Error_404</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Error_500</servlet-name>
        <jsp-file>/jspages/error/error_500.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error_500</servlet-name>
        <url-pattern>/Error_500</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Constitution</servlet-name>
        <jsp-file>/jspages/public/constitution.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>login.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Constitution</servlet-name>
        <url-pattern>/Constitution</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Directory</servlet-name>
        <jsp-file>/jspages/public/directory.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Directory</servlet-name>
        <url-pattern>/Directory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Documents</servlet-name>
        <jsp-file>/jspages/public/documents.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Documents</servlet-name>
        <url-pattern>/Documents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/jspages/public/landing.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>USEC</servlet-name>
        <jsp-file>/jspages/public/usec.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>USEC</servlet-name>
        <url-pattern>/USEC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Unit_Constitution</servlet-name>
        <jsp-file>/jspages/public/unit-collegeconstitution.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Unit_Constitution</servlet-name>
        <url-pattern>/Unit_Constitution</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Unit_ExecutiveOrder</servlet-name>
        <jsp-file>/jspages/public/unit-executiveorder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Unit_ExecutiveOrder</servlet-name>
        <url-pattern>/Unit_ExecutiveOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Unit_Memorandum</servlet-name>
        <jsp-file>/jspages/public/unit-memorandum.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Unit_Memorandum</servlet-name>
        <url-pattern>/Unit_Memorandum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Unit_Resolution</servlet-name>
        <jsp-file>/jspages/public/unit-resolution.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Unit_Resolution</servlet-name>
        <url-pattern>/Unit_Resolution</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>CC_DocumentViewer</servlet-name>
        <jsp-file>/jspages/public/collegeconstitution-documentviewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CC_DocumentViewer</servlet-name>
        <url-pattern>/Unit_Constitution_DocumentViewer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EO_DocumentViewer</servlet-name>
        <jsp-file>/jspages/public/executiveorder-documentviewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EO_DocumentViewer</servlet-name>
        <url-pattern>/Unit_ExecutiveOrder_DocumentViewer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>M_DocumentViewer</servlet-name>
        <jsp-file>/jspages/public/memorandum-documentviewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DocumentViewer</servlet-name>
        <url-pattern>/Unit_Memorandum_DocumentViewer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>R_DocumentViewer</servlet-name>
        <jsp-file>/jspages/public/resolution-documentviewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>R_DocumentViewer</servlet-name>
        <url-pattern>/Unit_Resolution_DocumentViewer</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EO_DocumentList</servlet-name>
        <jsp-file>/jspages/public/executiveorder-documentlist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EO_DocumentList</servlet-name>
        <url-pattern>/Unit_ExecutiveOrder_DocumentList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>M_DocumentList</servlet-name>
        <jsp-file>/jspages/public/memorandum-documentlist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DocumentList</servlet-name>
        <url-pattern>/Unit_Memorandum_DocumentList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>R_DocumentList</servlet-name>
        <jsp-file>/jspages/public/resolution-documentlist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>R_DocumentList</servlet-name>
        <url-pattern>/Unit_Resolution_DocumentList</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>Document_Viewer</servlet-name>
        <jsp-file>/jspages/public/documentviewer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Document_Viewer</servlet-name>
        <url-pattern>/Document_Viewer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Document_List</servlet-name>
        <jsp-file>/jspages/public/documentlist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Document_List</servlet-name>
        <url-pattern>/Document_List</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Document_Archive</servlet-name>
        <jsp-file>/jspages/public/docu-archive.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Document_Archive</servlet-name>
        <url-pattern>/Document_Archive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Units_Archive_1</servlet-name>
        <jsp-file>/jspages/public/unit-archive.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Units_Archive_1</servlet-name>
        <url-pattern>/Units_Archive_SelectUnit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Units_Archive_2</servlet-name>
        <jsp-file>/jspages/public/unit-archive-bridge.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Units_Archive_2</servlet-name>
        <url-pattern>/Units_Archive_SelectYear</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Units_Archive_3</servlet-name>
        <jsp-file>/jspages/public/unit-archive-final.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Units_Archive_3</servlet-name>
        <url-pattern>/Units_Archive</url-pattern>
    </servlet-mapping>
    <!--   Admin    -->
    <servlet>
        <servlet-name>Admin_MyAccount</servlet-name>
        <jsp-file>/jspages/admin/admin-myaccount.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_MyAccount</servlet-name>
        <url-pattern>/Admin/MyAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Constitution</servlet-name>
        <jsp-file>/jspages/admin/admin-constitution.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Constitution</servlet-name>
        <url-pattern>/Admin/Constitution</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Directory</servlet-name>
        <jsp-file>/jspages/admin/admin-directory.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Directory</servlet-name>
        <url-pattern>/Admin/Directory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Documents</servlet-name>
        <jsp-file>/jspages/admin/admin-documents.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Documents</servlet-name>
        <url-pattern>/Admin/Documents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Home</servlet-name>
        <jsp-file>/jspages/admin/admin-home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Home</servlet-name>
        <url-pattern>/Admin/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_USEC</servlet-name>
        <jsp-file>/jspages/admin/admin-usec.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_USEC</servlet-name>
        <url-pattern>/Admin/USEC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Unit_Constitution</servlet-name>
        <jsp-file>/jspages/admin/admin-unit-collegeconstitution.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Unit_Constitution</servlet-name>
        <url-pattern>/Admin/Unit_Constitution</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Unit_ExecutiveOrder</servlet-name>
        <jsp-file>/jspages/admin/admin-unit-executiveorder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Unit_ExecutiveOrder</servlet-name>
        <url-pattern>/Admin/Unit_ExecutiveOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Unit_Memorandum</servlet-name>
        <jsp-file>/jspages/admin/admin-unit-memorandum.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Unit_Memorandum</servlet-name>
        <url-pattern>/Admin/Unit_Memorandum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin_Unit_Resolution</servlet-name>
        <jsp-file>/jspages/admin/admin-unit-resolutions.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_Unit_Resolution</servlet-name>
        <url-pattern>/Admin/Unit_Resolutions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Accounts</servlet-name>
        <jsp-file>/jspages/admin/admin-account.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accounts</servlet-name>
        <url-pattern>/Admin/Account</url-pattern>
    </servlet-mapping>
    <!--Unit Editors-->
    <servlet>
        <servlet-name>UE_Unit_MyAccount</servlet-name>
        <jsp-file>/jspages/unit-editors/admin-unit-myaccount.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UE_Unit_MyAccount</servlet-name>
        <url-pattern>/Unit_Editor/MyAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UE_Unit_Constitution</servlet-name>
        <jsp-file>/jspages/unit-editors/admin-unit-collegeconstitution.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UE_Unit_Constitution</servlet-name>
        <url-pattern>/Unit_Editor/Unit_Constitution</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UE_Unit_ExecutiveOrder</servlet-name>
        <jsp-file>/jspages/unit-editors/admin-unit-executiveorder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UE_Unit_ExecutiveOrder</servlet-name>
        <url-pattern>/Unit_Editor/Unit_ExecutiveOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UE_Unit_Memorandum</servlet-name>
        <jsp-file>/jspages/unit-editors/admin-unit-memorandum.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UE_Unit_Memorandum</servlet-name>
        <url-pattern>/Unit_Editor/Unit_Memorandum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UE_Unit_Resolution</servlet-name>
        <jsp-file>/jspages/unit-editors/admin-unit-resolutions.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UE_Unit_Resolution</servlet-name>
        <url-pattern>/Unit_Editor/Unit_Resolutions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/jspages/admin-login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby://localhost:1527/</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UST_IMW_DB</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!--WebPages-->
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangePasswordServlet</servlet-name>
        <url-pattern>/AdminChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddAccountServlet</servlet-name>
        <url-pattern>/AdminAddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminResetPasswordServlet</servlet-name>
        <url-pattern>/AdminResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRemoveAccountServlet</servlet-name>
        <url-pattern>/AdminRemoveAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPDFServlet</servlet-name>
        <url-pattern>/AdminPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnitEditorChangePasswordServlet</servlet-name>
        <url-pattern>/UnitEditorChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnnouncementServlet</servlet-name>
        <url-pattern>/AddAnnouncementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContactServlet</servlet-name>
        <url-pattern>/AddContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralContactServlet</servlet-name>
        <url-pattern>/GeneralContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContactServlet</servlet-name>
        <url-pattern>/UpdateContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContactServlet</servlet-name>
        <url-pattern>/DeleteContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUSECServlet</servlet-name>
        <url-pattern>/UpdateUSECServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateConstitutionServlet</servlet-name>
        <url-pattern>/UpdateConstitutionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocumentServlet</servlet-name>
        <url-pattern>/AddDocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDocumentServlet</servlet-name>
        <url-pattern>/UpdateDocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchiveDocumentServlet</servlet-name>
        <url-pattern>/ArchiveDocumentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddUnitExecutiveOrder</servlet-name>
        <url-pattern>/AdminAddUnitExecutiveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUnitExecutiveOrder</servlet-name>
        <url-pattern>/AdminUpdateUnitExecutiveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArchiveUnitExecutiveOrder</servlet-name>
        <url-pattern>/AdminArchiveUnitExecutiveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddUnitResolutions</servlet-name>
        <url-pattern>/AdminAddUnitResolutions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUnitResolutions</servlet-name>
        <url-pattern>/AdminUpdateUnitResolutions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArchiveUnitResolutions</servlet-name>
        <url-pattern>/AdminArchiveUnitResolutions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddUnitMemorandum</servlet-name>
        <url-pattern>/AdminAddUnitMemorandum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUnitMemorandum</servlet-name>
        <url-pattern>/AdminUpdateUnitMemorandum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArchiveUnitMemorandum</servlet-name>
        <url-pattern>/AdminArchiveUnitMemorandum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUnitConstitution</servlet-name>
        <url-pattern>/AdminUpdateUnitConstitution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnnouncementServlet</servlet-name>
        <url-pattern>/UpdateAnnouncementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchiveAnnouncementServlet</servlet-name>
        <url-pattern>/ArchiveAnnouncementServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
