@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D4D3D3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

/*----------------------------------------------------------------------------------------*/
/*-----Header-----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
#header {
  background-color: #F4BC15;
  color: #F3F3F3;
  height: 70px;
  top: 0;
  width: 100vw;
  z-index: 10;
}

#header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 5%;
}

#header .logo img {
  width: 50px;
}

#header .logo a {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 8px;
  text-decoration: none;
}

@media screen and (max-width: 940px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*----------------------------------------------------------------------------------------*/
/*-----Mobile Header----------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
@media screen and (max-width: 940px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    height: 23px;
    left: 25px;
    position: fixed;
    top: 23px;
    width: 27px;
    z-index: 12;
  }
  .menuIcon .icon-bars {
    background: #F3F3F3;
    height: 2px;
    position: absolute;
    top: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 20px;
  }
  .menuIcon .icon-bars:before {
    background: #F3F3F3;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: -8px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 20px;
  }
  .menuIcon .icon-bars:after {
    background: #F3F3F3;
    bottom: -8px;
    content: '';
    height: 2px;
    left: 0;
    margin-top: 0px;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 20px;
  }
}

.overlay-menu {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #292929;
  color: #F4BC15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 70px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  width: 100vw;
  z-index: 9;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.25em;
  letter-spacing: 1px;
  padding: 28px 0 0 0;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  width: 100%;
}

.overlay-menu li a:hover {
  color: #3D80A4;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media screen and (max-width: 480px) {
  .overlay-menu li a {
    font-size: 1em;
    padding: 21px 14px 7px 14px;
  }
}

.overlay-menu .active {
  color: #3D80A4;
}

.overlay-menu .logout-button {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.overlay-menu .logout-button input[type='submit'] {
  background-color: #FFD151;
  border: none;
  border-radius: 12px;
  color: #292929;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 500;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  margin: 12px 6px;
  padding: 0 1em;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.overlay-menu .logout-button input[type='submit']:hover {
  background-color: #F4BC15;
  color: #292929;
}

@media screen and (max-width: 940px) {
  .overlay-menu {
    margin-top: 70px;
  }
}

@media screen and (min-width: 941px) {
  .overlay-menu {
    display: none;
  }
}

.menuIcon.toggle .icon-bars {
  top: 5px;
  -webkit-transform: translate3d(0, 5px, 0) rotate(135deg);
          transform: translate3d(0, 5px, 0) rotate(135deg);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menuIcon.toggle .icon-bars:before {
  opacity: 0;
  top: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menuIcon.toggle .icon-bars:after {
  top: 10px;
  -webkit-transform: translate3d(0, -10px, 0) rotate(-270deg);
          transform: translate3d(0, -10px, 0) rotate(-270deg);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

/*----------------------------------------------------------------------------------------*/
/*-----Wrapper----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: calc(100% - 70px);
  width: 100vw;
}

/*----------------------------------------------------------------------------------------*/
/*-----Sidebar----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
#sidenav {
  background-color: #F4BC15;
  color: #F3F3F3;
  height: calc(100vh - 70px);
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  width: 20em;
}

#sidenav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

#sidenav .nav-wrapper #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

#sidenav .nav-wrapper #menu a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25em;
  font-weight: 500;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidenav .nav-wrapper #menu a:hover {
  background-color: #FFD151;
  color: #3D80A4;
}

#sidenav .nav-wrapper #menu a:before {
  background: #292929;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 0px;
}

#sidenav .nav-wrapper #menu a:hover:before {
  background: #292929;
  width: 7px;
}

#sidenav .nav-wrapper #menu .active {
  background-color: #FFD151;
  color: #3D80A4;
}

#sidenav .nav-wrapper #menu .active:before {
  background: #292929;
  width: 7px;
}

#sidenav .nav-wrapper #menu .dropdown-content {
  display: none;
}

#sidenav .nav-wrapper #menu .dropdown-content a {
  font-size: 1em;
  height: 55px;
}

#sidenav .nav-wrapper #menu .show {
  display: inline;
}

#sidenav .nav-wrapper #menu i {
  pointer-events: none;
}

#sidenav .nav-wrapper .logout-button {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sidenav .nav-wrapper .logout-button input[type='submit'] {
  border: none;
  border-radius: 12px;
  color: inherit;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 500;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  margin: 32px 16px;
  padding: 0 1em;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #6AA7C8;
}

#sidenav .nav-wrapper .logout-button input[type='submit']:hover {
  background-color: #3D80A4;
  color: #FFD151;
}

@media screen and (max-width: 940px) {
  #sidenav {
    display: none;
  }
}

/*----------------------------------------------------------------------------------------*/
/*-----Content----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.container {
  background-color: #EBEBEB;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12px 24px;
  width: 100%;
}

@media screen and (max-width: 940px) {
  .container {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
}

.container h1 {
  font-size: 2em;
  margin-bottom: 32px;
}

@media screen and (max-width: 940px) {
  .container h1 {
    font-size: 1.75em;
    margin-bottom: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .container h1 {
    font-size: 1.5em;
    margin-bottom: 16px;
  }
}

.container .unit-dropdown-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 940px) {
  .container .unit-dropdown-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .unit-dropdown-nav label {
  color: #141414;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: auto 8px;
  text-decoration: none;
}

@media screen and (max-width: 940px) {
  .container .unit-dropdown-nav label {
    font-size: 1em;
    padding: 4px;
  }
}

@media screen and (max-width: 480px) {
  .container .unit-dropdown-nav label {
    font-size: 0.875em;
    letter-spacing: normal;
    margin: auto 4px;
  }
}

.container .unit-dropdown-nav select, .container .unit-dropdown-nav input[type='text'] {
  background-color: #F3F3F3;
  border: .1em solid #141414;
  color: #141414;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 4px;
  text-decoration: none;
  width: 450px;
}

.container .unit-dropdown-nav select:focus, .container .unit-dropdown-nav input[type='text']:focus {
  border: .1em solid #3D80A4;
  outline-width: 0px;
}

@media screen and (max-width: 940px) {
  .container .unit-dropdown-nav select, .container .unit-dropdown-nav input[type='text'] {
    font-size: 1em;
    padding: 4px;
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .container .unit-dropdown-nav select, .container .unit-dropdown-nav input[type='text'] {
    font-size: 1em;
    margin-top: 0;
    padding: 2px;
    width: 100%;
  }
}

.container div {
  background-color: #FFD151;
  border-radius: 15px;
  padding: 24px 10%;
}

.container div p {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 8px;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .container div p {
    font-size: 1.125em;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 480px) {
  .container div {
    border-radius: 10px;
    padding: 12px 16px;
  }
}

.container div form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 940px) {
  .container div form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container div form .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 24px 0;
  width: 100%;
}

@media screen and (max-width: 940px) {
  .container div form .pair {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 24px 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container div form .pair {
    padding: 0 0 24px 0;
    width: 100%;
  }
}

.container div form input[type='submit'] {
  background-color: #6AA7C8;
  border-radius: 10px;
  color: #F3F3F3;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin: 8px;
  padding: 12px 16px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 475px;
}

.container div form input[type='submit']:hover {
  background-color: #3D80A4;
  color: #FFD151;
}

@media screen and (max-width: 940px) {
  .container div form input[type='submit'] {
    font-size: 1.125em;
    margin: 8px auto;
    padding: 12px 16px;
    width: 78%;
  }
}

@media screen and (max-width: 480px) {
  .container div form input[type='submit'] {
    font-size: 1em;
    margin: 6px auto;
    padding: 10px 14px;
    width: 90%;
  }
}

.container div form label {
  color: #141414;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-top: 8px;
  text-decoration: none;
  width: 475px;
}

@media screen and (max-width: 940px) {
  .container div form label {
    font-size: 1em;
    margin-top: 0;
    width: 78%;
  }
}

@media screen and (max-width: 480px) {
  .container div form label {
    font-size: 0.875em;
    margin-top: 0;
    width: 98%;
  }
}

.container div form select {
  background-color: #F3F3F3;
  border: .1em solid #141414;
  color: #141414;
  font-family: 'Nunito', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  padding: 4px;
  text-decoration: none;
  width: 485px;
}

.container div form select:focus {
  border: .1em solid #3D80A4;
  outline-width: 0px;
}

@media screen and (max-width: 940px) {
  .container div form select {
    font-size: 1em;
    margin-top: 0;
    padding: 4px;
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .container div form select {
    font-size: 1em;
    margin-top: 0;
    padding: 2px;
    width: 100%;
  }
}

.container div form input[type='text'], .container div form input[type='password'] {
  background-color: #F3F3F3;
  border: 2px solid #141414;
  color: #141414;
  font-family: 'Nunito', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 4px;
  text-decoration: none;
  width: 475px;
}

.container div form input[type='text']:focus, .container div form input[type='password']:focus {
  border: 2px solid #3D80A4;
  outline-width: 0px;
}

@media screen and (max-width: 940px) {
  .container div form input[type='text'], .container div form input[type='password'] {
    font-size: 1em;
    padding: 4px;
    width: 78%;
  }
}

@media screen and (max-width: 480px) {
  .container div form input[type='text'], .container div form input[type='password'] {
    font-size: 1em;
    padding: 2px;
    width: 98%;
  }
}

.container div form textarea {
  background-color: #F3F3F3;
  border: 2px solid #141414;
  color: #141414;
  font-family: 'Nunito', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  height: 4em;
  letter-spacing: 0.1em;
  padding: 4px;
  resize: none;
  resize: vertical;
  text-decoration: none;
  width: 475px;
}

.container div form textarea:focus {
  border: 2px solid #3D80A4;
  outline-width: 0px;
}

@media screen and (max-width: 940px) {
  .container div form textarea {
    font-size: 1em;
    height: 8.25em;
    padding: 4px;
    width: 78%;
  }
}

@media screen and (max-width: 480px) {
  .container div form textarea {
    font-size: 1em;
    height: 5.5em;
    padding: 2px;
    width: 98%;
  }
}

.container .unit-dropdown-contain {
  background-color: #EBEBEB;
  margin: 0;
  padding: 0;
}

.container .unit-content {
  background-color: #EBEBEB;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------------------*/
/*-----Scrollbar--------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #292929;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #141414;
}

::-webkit-scrollbar-track {
  background-color: #FFD151;
}
/*# sourceMappingURL=admin.css.map */