@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F4BC15;
  color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  height: 70px;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  top: 0;
  width: calc(100vw - 5%);
}

.logo img {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 480px) {
  .logo img {
    height: 40px;
    width: 40px;
  }
}

.logo a {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 8px;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .logo a {
    font-size: 1.2em;
  }
}

.error {
  background-color: #F4BC15;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 40%;
}

.error h1 {
  color: #292929;
  font-size: 1.5vw;
  text-align: center;
  border-bottom: 1px solid #292929;
  margin: 6px 0;
}

@media screen and (max-width: 940px) {
  .error h1 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 480px) {
  .error h1 {
    font-size: 2vh;
  }
}

.error .error-content {
  color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 32px;
}

.error .error-content span {
  color: #292929;
}

.error .error-content h2 {
  font-size: 2.5vw;
}

@media screen and (max-width: 940px) {
  .error .error-content h2 {
    font-size: 2.8vh;
  }
}

.error .error-content p {
  font-size: 1.3vw;
}

@media screen and (max-width: 940px) {
  .error .error-content p {
    font-size: 2vh;
  }
}

.error .error-content a {
  background-color: #6AA7C8;
  border: none;
  border-radius: 18px;
  color: #F3F3F3;
  cursor: pointer;
  font-size: 2.2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  margin-top: 24px;
  padding: 2px 24px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 30%;
}

.error .error-content a:hover {
  background-color: #3D80A4;
  color: #FFD151;
}

@media screen and (max-width: 940px) {
  .error .error-content a {
    font-size: 2.5vh;
  }
}

@media screen and (max-width: 940px) {
  .error {
    width: 70%;
    height: 35%;
  }
}

@media screen and (max-width: 480px) {
  .error {
    width: 80%;
  }
}
/*# sourceMappingURL=error.css.map */